<launch>
    <node pkg="gmapping" type="slam_gmapping" name="youbot_gmapping" output="screen" >
        <!-- <remap from="scan" to="youbot/scan_front" /> -->
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
        <!-- Map updates in seconds, default 5 -->
        <param name="map_update_interval" value="2.5"/>
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find youbot_mapping)/rviz/youbot.rviz" />

</launch>